body {margin: 0;padding: 0;}
.left {float: left;}
.right {float: right;}
.center {text-align: center}
.red {color: red}
.gray {color: gray}
.font_18 {font-size: 18px;}
.font_16 {font-size: 16px;}
.font_14 {font-size: 14px;}
.font_12 {font-size: 12px;}